.nav {
  height: 80px;
  width: 100%;
  background-color: white;
  padding-left: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  border-bottom: 4px solid rgb(84, 185, 84);
  display: flex;
  justify-content: space-between;
}

.brand-name:hover{
  cursor: pointer;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-name {
  color: #ed1c24;
  font-family: "Arial Black";
  font-size: 25px;
  font-weight: 900;
}

.slogan {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 800; 
  margin-top: 2px;
  letter-spacing: 0.2px;
  text-transform: none;
}

.logo img {
  height: 60px; 
  width: auto;
  object-fit: contain;
  margin-right: 100px;
  margin-top: 5px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s ease;
}