
.home {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;        
  flex: 1;               
  overflow: hidden;     
}

.hero-section {
  flex: 1;             
  overflow-y: auto;      
}